*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

simple-cache/simple-cache-hz/.classpath

simple-cache/simple-cache-hz/.project

*.prefs

.project

multi-node-app/.classpath

simple-cache-hz/.classpath
